.job-card{
    border:none;
    border-radius:18px;
    transition:all .3s ease;
    box-shadow:0 6px 20px rgba(0,0,0,.08);
}

.job-card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 30px rgba(0,0,0,.15);
}

.company-logo{
    width:60px;
    height:60px;
    background:#DBEAFE;
    color:#2563EB;
    border-radius:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
}

.job-title{
    font-weight:700;
    color:#1F2937;
}

.company-name{
    color:#2563EB;
    font-weight:600;
}

.badge{
    font-size:14px;
    padding:8px 14px;
}

.btn{
    border-radius:10px;
    font-weight:600;
}

.btn-primary{
    background:#2563EB;
    border:none;
}

.btn-warning{
    color:white;
}

.btn-danger{
    border:none;
}