<nav class="navbar navbar-expand-lg fixed-top">

  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold" routerLink="/">
      <i class="bi bi-briefcase-fill me-2"></i>
      JobPortal
    </a>

    <!-- Mobile Menu -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">

      <ul class="navbar-nav ms-auto align-items-lg-center">

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">
            <i class="bi bi-house-door"></i>
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/jobs"
             routerLinkActive="active">
            <i class="bi bi-search"></i>
            Jobs
          </a>
        </li>

        @if(!isLoggedIn){

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/login"
             routerLinkActive="active">
            <i class="bi bi-box-arrow-in-right"></i>
            Login
          </a>
        </li>

        <li class="nav-item">
          <a class="btn btn-warning ms-lg-3 px-4"
             routerLink="/register">
            Register
          </a>
        </li>

        }

        @if(isLoggedIn){

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/post-job">
            <i class="bi bi-plus-circle"></i>
            PostJob
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/applications">
            <i class="bi bi-file-earmark-text"></i>
            Applications
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/profile">
            <i class="bi bi-person-circle"></i>
            Profile
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/admin">
            <i class="bi bi-speedometer2"></i>
            Dashboard
          </a>
        </li>

        <li class="nav-item ms-lg-2">
          <button
            class="btn btn-outline-light rounded-pill px-4"
            (click)="logout()">

            <i class="bi bi-box-arrow-right"></i>
            Logout

          </button>
        </li>

        }

      </ul>

    </div>

  </div>

</nav>